# For now until privacy is maintained
twitch/

outdated/old_repo
outdated/old_data_files

# Files not needed to be tracked
backend/*.json
backend/my_pokemon.db
scripts/configs/



# other
old_repo/
test/
*.pyc
